@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: white;
}

.text-background-image {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}