@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: white;
}

@layer base {
  .text-background-image {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .outline-font-2 { 
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: transparent;
  }
}